---
import Link from '../components/Link.astro';
export interface Props {}
const { } = Astro.props;


---

<section>
<h2>Links</h2>
<article>
    <h3>WildEarth</h3>
    <ul>
    <Link href="https://app.wildearth.tv/linear/wildearth-explorers" title="Explorers" />
    <Link href="https://app.wildearth.tv/linear/wildearth-behind-scenes" title="Behind the Scenes" />    
    
    
        
    </ul>
    
</article>

</section>
 
<style>
    ul {padding: 0 1em;}
</style>
